@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Login SDLI</h1>
    <p class="lead">Arriba yo, mi apa, la chona, Jecori y Junior H</p>
    <p><a href="https://www.facebook.com/give.delangelflores" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Seguridad De La Informacion.</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nostrum, debitis aperiam vitae ab esse iste. Ducimus, sunt eius perspiciatis ullam dolore magni, eum esse corporis inventore sint error voluptatibus?
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/imaldojuarez">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Seguridad De La Informacion.</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nostrum, debitis aperiam vitae ab esse iste. Ducimus, sunt eius perspiciatis ullam dolore magni, eum esse corporis inventore sint error voluptatibus?
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/imaldojuarez">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Seguridad De La Informacion.</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nostrum, debitis aperiam vitae ab esse iste. Ducimus, sunt eius perspiciatis ullam dolore magni, eum esse corporis inventore sint error voluptatibus?
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/imaldojuarez">Learn more &raquo;</a></p>
    </div>
</div>